{% load static %}

<div class="post">
	<div class="row question">

		<div class="col-2">
			<div class="avatar">
				<img class="question_img" src="{{ answer.profile_id.avatar.url }}" alt="">
				<h5>
					{{ answer.profile_id.user_id.username }}
				</h5>
			</div>
		</div>

		<div class="col-10">
			<p class="post">
				{{ answer.text }}
			</p>
		</div>

		<div class="row">
			<div class="col-2 avatar">
				<div class="inline">
					<a>4</a>
					<button class="like" type="submit">Like</button>
					<button class="dislike" type="submit" style="color: white">Dislike</button>
				</div>
			</div>
			<div class="inline col-10">
				<div>
					<input type="checkbox" id="scales" name="scales" checked>
					<label for="scales">Correct!</label>
				</div>
			</div>
		</div>

	</div>
</div>