{% load static %}

<div class="post">
	<div class="row question">

		<div class="col-2">
			<div class="avatar">
				<img class="question_img" src="{% static 'img/2.jpg' %}" alt="">
				<h5>
					Nick Name
				</h5>
			</div>
		</div>

		<div class="col-10">
			<p class="post">
<!--				Текст ответа!-->
<!--				Godrej Properties’s new residential stock - Godrej Park Retreat is developing in gilded surrounds of Sarjapur Road, East bangalore. The basis spreads over a immense land place and includes top rate-class residences which might be vaastu compliant, perfectly ventilated and well-lit gadgets.-->
				{{ answer.text }}
			</p>
		</div>

		<div class="row">
			<div class="col-2 avatar">
				<div class="inline">
					<a>4</a>
					<button class="like" type="submit">Like</button>
					<button class="dislike" type="submit" style="color: white">Dislike</button>
				</div>
			</div>
			<div class="inline col-10">
				<div>
					<input type="checkbox" id="scales" name="scales" checked>
					<label for="scales">Correct!</label>
				</div>
			</div>
		</div>

	</div>
</div>