<nav class="navbar navbar-expand-md navbar-dark fixed-top bg-dark">
	<div class="container-fluid">
		<a class="navbar-brand" style="margin-left: 20px" href="{% url 'ask'%}">AskMe</a>
		<form class="d-flex">
			<input class="form-control me-2" type="search" placeholder="Search" aria-label="Search">
			<button class="btn btn-outline-success" type="submit">Search</button>
		</form>
		<div style="width: 200px">
			{% if request.user.is_authenticated %}
				<div class="inline d-flex">
					<img class="top_img" src="{{ request.avatar }}" alt="">
					<div style="margin: 0 20px 0 10px">
						<a style="color: white">
							{{ request.user.username }}
						<br></a>
						<a href="{% url 'settings' %}">settings<br></a>
						<a href="{% url 'logout'%}">logout</a>
					</div>
				</div>
			{% else %}
				<div class="inline d-flex">
					<a href="{% url 'login' %}">Log in</a>
					<a href="{% url 'signup' %}" style="margin: 0 20px 0">Register</a>
				</div>
			{% endif%}
		</div>
	</div>
</nav>