<div>
	<h1>Popular Tags</h1>
	<div class="popular_tags">
		<a href="" class="popular_tag">perl</a>
		<a href="" class="popular_tag">python</a>
		<a href="" class="popular_tag">pytest</a>
		<a href="" class="popular_tag">Techno Park</a>
		<a href="" class="popular_tag">MySQL</a>
		<a href="" class="popular_tag">SQL</a>
		<a href="" class="popular_tag">SQLlite3</a>
		<a href="" class="popular_tag">PostgreSQL</a>
		<a href="" class="popular_tag"></a>
	</div>
</div>
<div>
	<h1>Popular Members</h1>
	<a href="" class="popular_members">Димтрий Болдин<br></a>
	<a href="" class="popular_members">Сергей Петренко<br></a>
	<a href="" class="popular_members">Владимир Лункин<br></a>
</div>