{% load static %}

<div class="post">
	<div class="row question">
		<div class="col-2">
			<div class="avatar">
				<img class="question_img" src="{{ question.profile_id.avatar.url }}" alt="">
				<h5>
					{{ question.profile_id.user_id.username }}
				</h5>
			</div>
		</div>
		<div class="col-10">
			<h2>
				{{ question.title }}
			</h2>
			<p>
				{{ question.text }}
			</p>
		</div>
		<dev class="row">
			<div class="col-2 avatar">
				<div class="inline">
					<a> {{ question.rating }} </a>
					<button class="like" type="submit">Like</button>
					<button class="dislike" type="submit" style="color: white">Dislike</button>
				</div>
			</div>
			<div class="inline col-10">
					<a href="{% url 'question' question.pk %}">answers({{ question.number_of_answers }})</a>
					<a style="">Tags:
						{% for tag in question.tags.all %}
							<a href="{% url 'tag' tag %}"> {{ tag }} </a>
						{% endfor%}
					</a>
			</div>
		</dev>
	</div>
</div>