main > .my_container {
    padding: 100px 15px 0;
    margin-right: 100px;
    margin-left: 100px;
}

.question {
    margin: 30 px;
    padding: 10px;
    border: 2px solid grey;
    border-radius: 5px;
    margin-right: 10px;
    margin-left: 10px;
}

.question_img {
    object-fit: contain;
    max-width: 100px;
    max-height: 100px;
    margin-top: 20px;
    margin-left: 0px;
    border-radius: 10%;
}

.top_img {
    object-fit: contain;
    max-width: 40px;
    max-height: 40px;
    margin-top: 0px;
    margin-left: 0px;
    border-radius: 10%;
}

.settings_img {
    object-fit: contain;
    max-width: 200px;
    max-height: 200px;
    margin-top: 0px;
    margin-left: 0px;
    border-radius: 10%;
}

.inline {
    display: inline-block;
}

button.like {
    background-color: rgba(255, 255, 255);
    border: 2px solid black;
    border-radius: 5px;
    margin-left: 10px;
}

button.dislike {
    background-color: rgba(0, 0, 0);
    border: 2px solid black;
    border-radius: 5px;
}

.avatar {
    margin: auto;
    padding: auto;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
}

.paginator {
    padding-bottom: 20px;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
}

.footer {
    display: flex;
    align-items: center;
    justify-content: center;
}

.centre_title {
    margin-left: 40px;
}

.post {
    padding-bottom: 20px;
}

.new_questions {
    margin-left: 40px;
    font-size: 20pt;
}

.hot_questions {
    font-size: 12pt;
}

.popular_tags {
    margin-left: 0px;
    margin-right: 0px;
}

.popular_tag {
    margin-right: 20px;
    font-size: 13pt;
}

.popular_members {
    font-size: 13pt;
}

.pop {
    padding-left: 40px;
}

.my_btn-outline-success {
    color: black;
    border-color: black
}

.my_div {
    position: relative;
    background: white;
    border-bottom: 1px, solid #ccc;
}

div > label {
    opacity: 0.3;
    position: absolute;
    top: 5px;
    left: 25px;
}

#login,
#email,
#nickname,
#password,
#repeat_password,
#title,
#text,
#tags {
    border: 0;
    background: #eee;
}

#login:focus,
#email:focus,
#nickname:focus,
#password:focus,
#repeat_password:focus,
#title:focus,
#text:focus,
#tags:focus {
    outline: 0;
    background: white;
}

#login:focus + label,
#email:focus + label,
#nickname:focus + label,
#password:focus + label,
#repeat_password:focus + label,
#title:focus + label,
#text:focus + label,
#tags:focus + label {
    opacity: 0;
}

#login:valid,
#email:valid,
#nickname:valid,
#password:valid,
#repeat_password:valid,
#title:valid,
#text:valid,
#tags:valid {
    background: #7FF679;
}

#login:valid + label,
#email:valid + label,
#nickname:valid + label,
#password:valid + label,
#repeat_password:valid + label,
#title:valid + label,
#text:valid + label,
#tags:valid + label {
    opacity: 0;
}

#login:invalid:not(:focus):not(:placeholder-shown),
#email:invalid:not(:focus):not(:placeholder-shown),
#nickname:invalid:not(:focus):not(:placeholder-shown),
#password:invalid:not(:focus):not(:placeholder-shown),
#repeat_password:invalid:not(:focus):not(:placeholder-shown),
#title:invalid:not(:focus):not(:placeholder-shown),
#text:invalid:not(:focus):not(:placeholder-shown),
#tags:invalid:not(:focus):not(:placeholder-shown) {
    background: pink;
}

#login:invalid:not(:focus):not(:placeholder-shown) + label,
#email:invalid:not(:focus):not(:placeholder-shown) + label,
#nickname:invalid:not(:focus):not(:placeholder-shown) + label,
#password:invalid:not(:focus):not(:placeholder-shown) + label,
#repeat_password:invalid:not(:focus):not(:placeholder-shown) + label,
#title:not(:focus):not(:placeholder-shown) + label,
#text:not(:focus):not(:placeholder-shown) + label,
#tags:not(:focus):not(:placeholder-shown) + label {
    opacity: 0;
}

#login:invalid:not(:focus):not(:placeholder-shown) ~ .requirements,
#email:invalid:not(:focus):not(:placeholder-shown) ~ .requirements,
#nickname:invalid:not(:focus):not(:placeholder-shown) ~ .requirements,
#password:invalid:not(:focus):not(:placeholder-shown) ~ .requirements,
#repeat_password:invalid:not(:focus):not(:placeholder-shown) ~ .requirements,
#title:invalid:not(:focus):not(:placeholder-shown) ~ .requirements,
#text:invalid:not(:focus):not(:placeholder-shown) ~ .requirements,
#tags:invalid:not(:focus):not(:placeholder-shown) ~ .requirements {
    max-height: 200px;
    padding-right: 20px;
}

div .requirements {
    padding-left: 10px;
    color: #999;
    max-height: 0;
    transition: 0,28s;
    overflow: hidden;
    color: red;
    font-style: italic;
}

input[type="submit"] {
    display: block;
}