{% extends 'base.html' %}
{% block title %} Log In {% endblock %}

{% block content %}
	<div>
		<div class="inline">
			<p class="new_questions">
				New Questions
			</p>
		</div>
		<div class="row">
			<div class="row" style="padding-top: 20px">
				<div class="col-2">
					Title
				</div>
				<div class="col-10">
					<form class="d-flex">
						<input class="form-control me-2" placeholder="Title">
					</form>
				</div>
			</div>
			<div class="row" style="padding-top: 20px">
				<div class="col-2">
					Text
				</div>
				<div class="col-10">
					<form class="d-flex">
						<input class="form-control me-2" style="height: 300px" placeholder="Text">
					</form>
				</div>
			</div>
			<div class="row" style="padding-top: 20px">
				<div class="col-2">
					Tags
				</div>
				<div class="col-10">
					<input class="form-control me-2" placeholder="Tags">
				</div>
			</div>
			<div class="row" style="padding-top: 20px">
				<div class="col-2">
				</div>
				<div class="col-10">
					<button class="btn btn-outline-success" type="submit">Ask</button>
				</div>
			</div>
		</div>
	</div>
{% endblock %}