{% extends 'base.html' %}
{% block title %} Log In {% endblock %}

{% block content %}
	<div class="inline">
		<p class="new_questions">
			Log In
		</p>
	</div>
	<div>
		<p style="color: red">Sorry, wrong password</p>
	</div>
	<div class="row">
		<div class="row" style="padding-top: 20px">
			<div class="col-2">
				Login
			</div>
			<div class="col-10">
				<form class="d-flex">
					<input class="form-control me-2" style="width: 300px" placeholder="Login">
				</form>
			</div>
		</div>

		<div class="row" style="padding-top: 20px">
			<div class="col-2">
				Password
			</div>
			<div class="col-10">
				<form class="d-flex">
					<input class="form-control me-2" style="width: 300px" placeholder="Password">
				</form>
			</div>
		</div>
		<div class="row" style="padding-top: 20px">
			<div class="col-2">
			</div>
			<div class="col-10">
				<button class="btn btn-outline-success" type="submit">Log In</button>
				<div style="margin-top: 10px" >
					<a href="">create new account</a>
				</div>
			</div>
		</div>
	</div>
{% endblock %}