{% extends 'base.html' %}
{% block title %} Settings {% endblock %}

{% block content %}
	<div>
		<div class="inline">
			<p class="new_questions">
				Settings: Nick Name
			</p>
		</div>
		<div class="row">
			<div class="row" style="padding-top: 20px">
				<div class="col-2">
					Login
				</div>
				<div class="col-10 my_div">
					<input class="form-control me-2" type="text" id="login" name="login" placeholder=" " required>
					<label for="login">Login</label>
				</div>
			</div>

			<div class="row" style="padding-top: 20px">
				<div class="col-2">
					Email
				</div>
				<div class="col-10 my_div">
					<input class="form-control me-2" type="email" id="email" name="email" placeholder=" " required>
					<label for="email">Email</label>
						<div class="requirements">
							Must be a valid email address
						</div>
				</div>
			</div>

			<div class="row" style="padding-top: 20px">
				<div class="col-2">
					NickName
				</div>
				<div class="col-10 my_div">
						<input class="form-control me-2" type="text" id="nickname" name="nickname" placeholder=" " required>
						<label for="nickname">NickName</label>
					</div>
			</div>

			<div class="row" style="padding-top: 20px">
				<div class="col-2">
					Upload avatar
				</div>
				<div class="col-10">
					<img class="settings_img" src="static/img/img.JPG" alt="">
					<div class="d-flex" style="margin-top: 20px">
						<input type="file" class="form-control me-2">
					</div>
				</div>
			</div>

			<div class="row" style="padding-top: 20px">
				<div class="col-2">
				</div>
				<div class="col-10">
					<input class="btn btn-outline-success my_button" type="submit" value="Save" />
				</div>
			</div>
		</div>
	</div>
{% endblock %}