{% extends 'base.html' %}
{% block title %} Log In {% endblock %}

{% block content %}
	<div>
		<div class="inline">
			<p class="new_questions">
				Registration
			</p>
		</div>
		<div>
			<p style="color: red">Sorry, this email address already registered</p>
		</div>
		<div class="row">
			<div class="row" style="padding-top: 20px">
				<div class="col-2">
					Login
				</div>
				<div class="col-10">
					<form class="d-flex">
						<input class="form-control me-2" placeholder="Login">
					</form>
				</div>
			</div>

			<div class="row" style="padding-top: 20px">
				<div class="col-2">
					Email
				</div>
				<div class="col-10">
					<form class="d-flex">
						<input class="form-control me-2" placeholder="Email">
					</form>
				</div>
			</div>

			<div class="row" style="padding-top: 20px">
				<div class="col-2">
					NickName
				</div>
				<div class="col-10">
					<input class="form-control me-2" placeholder="NickName">
				</div>
			</div>

			<div class="row" style="padding-top: 20px">
				<div class="col-2">
					Password
				</div>
				<div class="col-10">
					<input class="form-control me-2" placeholder="Password">
				</div>
			</div>

			<div class="row" style="padding-top: 20px">
				<div class="col-2">
					Repeat password
				</div>
				<div class="col-10">
					<input class="form-control me-2" placeholder="Repeat password">
				</div>
			</div>

			<div class="row" style="padding-top: 20px">
				<div class="col-2">
					Upload avatar
				</div>
				<div class="col-10 d-flex">
					<input class="form-control me-2" style="width: 200px;" placeholder="Choose">
					<button class="btn my_btn-outline-success" type="submit">Choose</button>
				</div>
			</div>

			<div class="row" style="padding-top: 20px">
				<div class="col-2">
				</div>
				<div class="col-10">
					<button class="btn btn-outline-success" type="submit">Register</button>
				</div>
			</div>
		</div>
	</div>
{% endblock %}