{% extends 'base.html' %}
{% block title %} Sign up {% endblock %}

{% block content %}

	<div class="inline">
		<p class="new_questions">
			Registration
		</p>
	</div>

	<form action="">

		<div class="row">

			<div class="row" style="padding-top: 20px">
				<div class="col-2">
					Login
				</div>
				<div class="col-10 my_div">
					<input class="form-control me-2" type="text" id="login" name="login" placeholder=" " required>
					<label for="login">Login</label>
				</div>
			</div>

			<div class="row" style="padding-top: 20px">
				<div class="col-2">
					Email
				</div>
				<div class="col-10 my_div">
					<input class="form-control me-2" type="email" id="email" name="email" placeholder=" " required>
					<label for="email">Email</label>
					<div class="requirements">
						Must be a valid email address
					</div>
				</div>
			</div>

			<div class="row" style="padding-top: 20px">
				<div class="col-2">
					NickName
				</div>
				<div class="col-10  my_div">
					<input class="form-control me-2" type="text" id="nickname" name="nickname" placeholder=" " required>
					<label for="nickname">NickName</label>
				</div>
			</div>

			<div class="row" style="padding-top: 20px">
				<div class="col-2">
					Password
				</div>
				<div class="col-10  my_div">
					<input class="form-control me-2" type="password" id="password" name="password" placeholder=" " pattern="(?=.*[0-9])(?=.*[!@#$%^&*])(?=.*[a-z])(?=.*[A-Z])[0-9a-zA-Z!@#$%^&*]{8,}" required>
					<label for="password">Password</label>
				</div>
			</div>

			<div class="row" style="padding-top: 20px">
				<div class="col-2">
					Repeat password
				</div>
				<div class="col-10  my_div">
					<input class="form-control me-2" type="password" id="repeat_password" name="repeat_password" placeholder=" "
								 pattern="(?=.*[0-9])(?=.*[!@#$%^&*])(?=.*[a-z])(?=.*[A-Z])[0-9a-zA-Z!@#$%^&*]{8,}" required>
					<label for="repeat_password">Repeat password</label>

				</div>
			</div>

			<div class="row" style="padding-top: 20px">
				<div class="col-2" >
					Upload avatar
				</div>
				<div class="col-10 d-flex">
					<input type="file" class="form-control me-2">
				</div>
			</div>

			<div class="row" style="padding-top: 20px">
				<div class="col-2">
				</div>
				<div class="col-10">
					<input type="submit" class="btn btn-outline-success my_button" value="Register" />
				</div>
			</div>

		</div>

	</form>
{% endblock %}